@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

/* SKELETON */

.p-component,
.p-component *,
.p-skeleton,
.skeleton * {
  box-sizing: border-box;
}

.p-skeleton {
  background-color: #e9ecef;
}
.p-skeleton:after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
}
